*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(0,0,0,0.8);
}
h1{
    text-align: center;
    color:red ;
    margin: 15px 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 15px 0;
    padding: 10px 0;
    /* border: 2px solid black; */
}
input{
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    background-color:rgba(0,0,0,0.5);
    color: white;
    /* border-bottom: 4px solid wheat; */
}
button{
    padding: 5px;
    border-radius: 5px;
}